<%= csrf_meta_tag %>
<div id='error'></div>
<dl>
  <dt>Name:</dt>
  <dd><%= @game.name %></dd>
  <dt>Manufacturer:</dt>
  <dd><%= @game.manufacturer %></dd>
  <dt>Notes:</dt>
  <dd><%= @game.notes %></dd>
  <dt>Liked:</dt>
  <dd><%= @game.liked_count %></dd>
  <dt>Active:</dt>
  <dd><%= @game.active %></dd>
  <dt>Photo:</dt>
  <dd>
    <%= image_tag(@game.photo, alt: "Not Available", width: @game.photo_width, height: @game.photo_height) %>
  </dd>
</dl>

<div>
  <% if @game.liked_by?(request.remote_ip) %>
    Liked
  <% else %>
    <%= link_to "Like", game_likes_path(game_id: @game.id), {class: 'like'} %>
  <% end %>
</div>
