<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Publisher</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game|%>
      <tr>
        <td><a class="game-show" href=<%= game_path(game.id)%>><%= game.name %></a></td>
        <td><%= game.manufacturer %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<script type='text/javascript'>
  $(function() {
    window.games.getReady();
  });
</script>
