// ----- SCSS --------------------------------------

// Colours

$blue: #00adee;
$blue-20black: darken( $blue, 10% );
$blue-50: lighten( $blue, 30% );
$blue-20: lighten( $blue, 50% );

$darkblue: #0b223f;
$darkblue-20black: darken( $darkblue, 10% );
$darkblue-50: lighten( $darkblue, 30% );
$darkblue-20: lighten( $darkblue, 50% );

$green: #00955d;
$green-20black: darken( $green, 10% );
$green-50: desaturate(lighten($green, 42), 35);
$green-20: desaturate(lighten($green, 60), 40);

$grey: #8c9696;
$grey-20black: darken( $grey, 10% );
$grey-50: lighten( $grey, 20% );
$grey-20: lighten( $grey, 30% );

$red: #a72b2a;
$red-20black: darken( $red, 10% );
$red-50: lighten( $red, 30% );
$red-20: lighten( $red, 50% );

$orange: #e45305;
$orange-20black: darken( $orange, 10% );
$orange-50: lighten( $orange, 20% );
$orange-20: lighten( $orange, 40% );

$yellow: #f1c400;
$yellow-20black: darken( $yellow, 10% );
$yellow-50: lighten( $yellow, 20% );
$yellow-20: lighten( $yellow, 40% );

$tan: #a39382;
$tan-20black: darken( $tan, 10% );
$tan-50: lighten( $tan, 30% );
$tan-20: lighten( $tan, 50% );

$cta-button: $orange;
$cta-button-hover: lighten( $orange, 10% );
$cta-button-hard-shadow: $orange-20black;
$cta-button-active: $orange-20black;

$button: $green;
$button-hover: lighten( $green, 10% );
$button-hard-shadow: $green-20black;
$button-active: $green-20black;

$button-secondary: $darkblue;
$button-secondary-hover: lighten( $darkblue, 10% );
$button-secondary-hard-shadow: $darkblue-20black;
$button-secondary-active: $darkblue-20black;

$button-tertiary: $grey;
$button-tertiary-hover: lighten( $grey, 10% );
$button-tertiary-hard-shadow: $grey-20black;
$button-tertiary-active: $grey-20black;


$heading-color: #444; // not a brand colour

// Fonts

$brand-font: Helvetica, Arial, sans-serif;
$brand-font-thin: Helvetica, Arial, sans-serif;
$brand-font-medium: Helvetica, Arial, sans-serif;

// Other

$header-height: 80px;
$header-height-backend: 80px;
$footer-height: 80px;
$footer-height-backend: 60px;

// Grid SASS Shortcuts

$column-width: 32px;
$column-margin: 15px;