// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "scss-shortcuts";
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  color: $heading-color;
  .button { // Stops buttons from making table cells too wide
    margin-right: 0;
    margin-left: 0;
  }
  thead {
    tr {
      th {
        font-size: 14px;
        color: $grey;
        text-align: left;
        padding-right: ($column-margin / 3);
        padding-bottom: ($column-margin / 3);
        padding-left: ($column-margin / 3);
        &.center {
          text-align: center;
        }
      }
      :first-child {
        padding-left: $column-margin;
      }
    }
  }
  tbody {
    tr {
      > :first-child {
        padding-left: $column-margin;
      }
      > :last-child {
        padding-right: $column-margin;
      }
      td {
        border-top: 1px solid $grey-50;
        border-bottom: 1px solid $grey-50;
        padding: ($column-margin / 3 * 2) ($column-margin / 3);
        &.last {
          padding-right: $column-margin;
        }
        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
        &.no-auctions {
          color: $grey-50;
          &:hover {
            background-color: white;
            cursor: default;
          }
        }
        a {
          color: $green !important;
          &:hover {
            color: $green-20black !important;
          }
        }
      }
      &:hover {
        td {
          &.confirm {
            a {
              display: block;
            }
          }
        }
      }
    }
  }
  &.no-hover {
    tbody {
      tr {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

dl {
  width:100%;
  overflow:hidden;
  padding:0;
  margin:0;
}

dt {
  float: left;
  clear: left;
  width: 8em;
  font-weight:bold;
}
dd {
  width: 60%;
  margin: 0 0 0 8em;
  padding: 0 0 2.5em 0;
  width: 60%;
}

.popModal {
  max-width: 350px !important;
}

#error {
  margin-bottom: 2em;
  color: red;
}
